In [3]:
# packages
import pandas as pd
import sqlite3

In [2]:
# Load excel file, Sheet1
df = pd.read_excel('Data_with_Coordinates.xlsx', sheet_name='Sheet1', index_col=0)

print(df.shape)

df.head(2) # displaying the two first rows

(1092, 8)

,Fournisseurs,n° facture,Montant,Date de facture,Date d'échéance,n° sem,Mis en paie.,E-MAIL
0,Capsule Corp,115968610,74.0,2021-03-29,2021-04-12,15,2021-12-26 19:33:52,contact@capsule-corp.fr
1,Cyberdyne,21040827,1008.0,2021-04-09,2021-04-12,15,2021-12-26 19:34:04,contact@cyberdyne.fr

In [4]:
df.columns

Index(['Fournisseurs', 'n° facture', 'Montant', 'Date de facture',
       'Date d'échéance', 'n° sem', 'Mis en paie.', 'E-MAIL'],
      dtype='object')

In [5]:
df.dtypes

Fournisseurs               object
n° facture                 object
Montant                   float64
Date de facture    datetime64[ns]
Date d'échéance    datetime64[ns]
n° sem                      int64
Mis en paie.       datetime64[ns]
E-MAIL                     object
dtype: object

In [6]:
df_sql = df.copy() # make a copy 
#to store data into a database, we need for instance to modify columns labels in .db file

In [7]:
df_sql.columns

Index(['Fournisseurs', 'n° facture', 'Montant', 'Date de facture',
       'Date d'échéance', 'n° sem', 'Mis en paie.', 'E-MAIL'],
      dtype='object')

In [8]:
col = []
for i in df_sql.columns:
    i = i.replace('° ','_').replace("d'", "").replace(' ', '_').replace("-", "").replace("é", "e").replace(".","")
    print(i)
    col.append(i)
df_sql.columns = col

Fournisseurs
n_facture
Montant
Date_de_facture
Date_echeance
n_sem
Mis_en_paie
EMAIL

In [9]:
df_sql.columns

Index(['Fournisseurs', 'n_facture', 'Montant', 'Date_de_facture',
       'Date_echeance', 'n_sem', 'Mis_en_paie', 'EMAIL'],
      dtype='object')

In [ ]:
#df.to_csv('Data_with_Coordinates.csv', index=False)

In [ ]:
#pip install ipython-sql

In [10]:
cnn = sqlite3.connect('data_fournisseurs.db') #db file 0Ko

In [11]:
df_sql.to_sql('fournisseurs', cnn) # load dataframe 'df' into 'fournisseurs' table

In [12]:
%reload_ext sql

In [13]:
%sql sqlite:///data_fournisseurs.db

In [17]:
%%sql

SELECT * FROM fournisseurs LIMIT 4

 * sqlite:///data_fournisseurs.db
Done.

[(0, 'Capsule Corp', '115968610', 74.0, '2021-03-29 00:00:00', '2021-04-12 00:00:00', 15, '2021-12-26 19:33:52', 'contact@capsule-corp.fr'),
 (1, 'Cyberdyne', '21040827', 1008.0, '2021-04-09 00:00:00', '2021-04-12 00:00:00', 15, '2021-12-26 19:34:04', 'contact@cyberdyne.fr'),
 (2, 'Geugène Industrie', '2103006', 2842.94, '2021-03-15 00:00:00', '2021-04-14 00:00:00', 15, '2021-12-26 19:34:05', 'contact@geugene.fr'),
 (3, 'Luthor Corp', 'F1920074', 1325.0, '2021-01-15 00:00:00', '2021-04-15 00:00:00', 15, '2021-12-26 19:34:15', 'contact@luther.fr')]

In [20]:
%%sql
SELECT Fournisseurs, Montant, n_facture
FROM fournisseurs LIMIT 4

 * sqlite:///data_fournisseurs.db
Done.

[('Capsule Corp', 74.0, '115968610'),
 ('Cyberdyne', 1008.0, '21040827'),
 ('Geugène Industrie', 2842.94, '2103006'),
 ('Luthor Corp', 1325.0, 'F1920074')]

In [45]:
%%sql 

SELECT n_sem AS Semaine, cast(ROUND(SUM(Montant),0) as int) AS Montants, COUNT(n_facture) AS Nbre_Factures
FROM fournisseurs WHERE n_sem BETWEEN 8 AND 22 GROUP BY n_sem

 * sqlite:///data_fournisseurs.db
Done.

[(8, 543614, 15),
 (9, 676898, 13),
 (10, 214533, 16),
 (15, 346030, 21),
 (16, 348875, 14),
 (17, 732764, 27),
 (18, 350854, 19),
 (19, 299996, 10),
 (20, 626353, 34),
 (21, 418612, 36),
 (22, 128667, 20)]

In [ ]:
cnn.close()

In [51]:
df_sql['n_sem'].sort_values().unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 15, 16, 17, 18, 19, 20, 21,
       22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38,
       39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52])

In [60]:
import numpy as np

In [68]:
list_sem = df_sql['n_sem'].sort_values().unique()
list(list_sem) == list(np.arange(1, 53))

False